@import 'tailwindcss';
@import '@nuxt/ui';

@plugin "tailwindcss-debug-screens";


/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --ui-radius: 0.375rem;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}


@theme {
  --animate-slide-up: slide-up 0.3s ease-out;

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100;
  }
  button {
    @apply cursor-pointer;
  }
  a {
    @apply cursor-pointer;
  }
}


